*.obj filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
Assets/*.obj filter=lfs diff=lfs merge=lfs -text
Assets/*.glb filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
ServerData/Android/*.bundle filter=lfs diff=lfs merge=lfs -text
